<div class="bk">
    <div class="container">
        <div class="col-lg-12">
            <h1 class="text-center">Find My Way</h1>
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-xl-12 ">
            <table>
                <tr>
                    <td>
                        <img class="img2" src="../../assets/img/home.jpg" height="" width="300px" alt="Sup Galilée" />
                    </td>
                    <td>
                        <div style="padding:10px">
                        <p>Find My Way est une application qui vous propose plusieurs fonctionnalités.</p>
                        <p>Métro: Afficher les informations d'une station de métro.</p>
                        <p>Commerces: afficher sur une carte les commerces à proximité d'une station. Vous avez aussi la
                            possibilité de définir un périmêtre entre la station et les commerces.</p>
                        <p>Ma position: afficher sur une carte votre position et les commerces autour de vous.</p>
                        <p>Sites utiles: des sites utiles pour se déplacer en région parisienne.</p>
                        <p>Sanisette: trouver les sanisettes autour d'une staton.</p>
                        <p>Nous contacter: vous pouvez nous envoyer vos réclamations, vos remarques ou un simple coup de pouce</p>
                        <p>About us: Oups ! Vous êtes dessus</p>
                    </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <h1 class="text-center">Our school </h1>
            <hr>
        </div>
        <div class=" col-lg-12 col-md-12 col-xl-12 text-center ">
            <table>
                <tr>
                    <td><img class="img" src="../../assets/img/sg.jpg" height="" width="300px" alt="Sup Galilée" />
                    </td>
                    <td align="left">
                        <div style="padding:10px">

                            <h2 class="title">Présentation de l'école</h2>
                            <p>L'école d'ingénieurs Sup Galilée est un établissement public habilité depuis 1976.
                                Le diplôme qu'elle délivre est reconnu par la Commission des titres d'ingénieur (CTI)
                                sous la tutelle du MENRT (Ministère de l'éducation Nationale, de la Recherche et de la
                                Technologie). L'école d'ingénieurs Sup Galilée est rattachée à l'Institut Galilée,
                                composante scientifique de l'Université Paris 13. Elle est implantée sur le campus
                                de Villetaneuse.</p>
                            <p>5 spécialités, dont deux en apprentissage :</p>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=14&Itemid=225">Télécommunications
                                    et Réseaux</a></li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=880&Itemid=734">Instrumentation</a>
                            </li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=14&Itemid=225">Mathématiques
                                    Appliquées au Calcul Scientifique</a></li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=14&Itemid=225">Energétique</a>
                            </li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=14&Itemid=225">Informatique</a>
                            </li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=394&Itemid=480">Energétique
                                    (apprentissage)</a></li>
                            <li><a
                                    href="http://www.sup-galilee.univ-paris13.fr/index.php?option=com_content&task=view&id=386&Itemid=475">Informatique:
                                    Informatique et Réseaux (apprentissage)</a></li>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container row">
        <div class="col-lg-12">
            <h1 class="text-center">Find my Way Developers </h1>
            <hr>
        </div>
        <div class="col-md">
            <div class="container2">
                <img class="rounded m-auto d-block image2" src="../../assets/img/Rama.jpg" alt="Avatar">
                <div class="middle2">
                  <div class="text2">Ramatoulaye<br>IYOK
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="container2">
                <img class="rounded m-auto d-block image2" src="../../assets/img/Ayoub.jpg" alt="Avatar">
                <div class="middle2">
                  <div class="text2">Ayoub<br>LAMEGHAIZI</div>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="container2">
                <img class="rounded m-auto d-block image2" src="../../assets/img/Aimane.jpg" alt="Avatar">
                <div class="middle2">
                  <div class="text2">Aimane<br>EL KADI</div>
                </div>
              </div>
        </div>





    </div>
    <!--div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-4 col-lg-4 text-center">
                <h4 class="colwhite">Cette année le CRIG a remporté le prix du jury décerné par SEPRO.<br>
                    Nous tenons à remercier le jury de la Coupe de France de Robotique pour cette nomination honorable.
                </h4>
                <br>
                <div> <img style="max-width:  90% ; border-radius: 15px" alt="CRIG" src="../../assets/img/home2.jpg">
                </div>
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 pull-right">
                <form id="f1" onsubmit="return display()" method="post">
                    <h2>Rejoindre le CRIG</h2>

                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="" style="display:block; display:inline-block">
                        <label for="usr">Ingénieur:</label>
                        <input type="checkbox" name="Ingénieur" /><br />
                        <label for="usr">Licence:</label>
                        <input type="checkbox" name="Licence" /><br />
                        <label for="usr">Master:</label>
                        <input type="checkbox" name="Master" /> <br />
                    </div>

                    <p> Si ingénieur: </p>
                    <label for="usr">Télécoms:</label>
                    <input type="radio" name="taille" value="Télécoms" />
                    <label for="usr">Informatique:</label>
                    <input type="radio" name="taille" value="Informatique" />
                    <label for="usr">Energétique:</label>
                    <input type="radio" name="taille" value="Energétique" />
                    <label for="usr">MACS:</label>
                    <input type="radio" name="taille" value="MACS" />

                    <div class="form-group">
                        <label for="comment">Motivations:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <button type="button" class="btn btn-danger" value="Submit">Soumettre votre demmande</button>
                </form>

            </div>
        </div>
    </div-->
</div>