.mat-form-field {
    width: 100%;
  }

  .mat-raised-button {
    width: 30%;
    height: 50px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .materialCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }