<div class="im_station">
  <br>
  <div class="container custom-container">
    <div class="form-group m 1 p 1 text-center">
      <br>
      <h2 class="mb-3 text-center">Recherche station</h2>

      <div class="form-group">
        <mat-form-field appearance="legacy">
          <mat-label>Nom de station</mat-label>
          <input matInput [(ngModel)]="stationDetails.name" class="form-control" placeholder="Ex: Auber">
          <mat-icon matSuffix>train</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button mat-raised-button color="primary" (click)="AppelStation()">Afficher Station</button>
      </div>
      <br>
    </div>
  </div>

  <div *ngIf="station" class="stations container materialCard">
    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon matSuffix>train</mat-icon>
        <mat-card-title>
          <h2>Station {{station.records[0].fields.stop_name | uppercase}}</h2>
        </mat-card-title>
        <mat-card-subtitle><span>Coordinates: </span>{{station.records[0].fields.stop_coordinates}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/img/home.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          <span>Adresse: </span>{{station.records[0].fields.stop_desc}}
        </p>
      </mat-card-content>
    </mat-card>
    
  </div>
  <br><br><br><br><br><br>
</div>