.map-container {
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 350px;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-raised-button {
    width: 90%;
    height: 50px;
  }
  