
<div class="container custom-container ">
  <div class="form-group m 1 p 1 text-center">
    <br>
    <h2 class="mb-3 text-center">Recherche commerces</h2>

    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Nom de station</mat-label>
      <input matInput [(ngModel)]="stationD.name" class="form-control" placeholder="Ex: Chatelet">
      <mat-icon matSuffix>store_mall_directory</mat-icon>
    </mat-form-field>
    </div>

 
    
    <mat-card class="example-result-card">
      <mat-card-content>
        <h2>Distance</h2>
        <br>
        <mat-slider class="example-margin"[max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="stationD.distance">
        </mat-slider>
        <h2>Les commerces à {{stationD.distance}} m</h2>
      </mat-card-content>
    </mat-card>

    <div class="form-group">
      <button mat-raised-button color="warn" (click)="getCommercesFromStat()">Afficher Commerces</button>
    </div>

  </div>
</div>




<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>


<div *ngIf="commerces" class="commerces">
  <ul class="commerces">
    <li *ngFor="let r of commerces.records; let i=index;">
      <!--<a routerLink="/commerces/{{records[i].fields.coord_geo[0]}}/{{records[i].fields.coord_geo[1]}}/{{records[i].fields.dist}}">-->
        <div><span class="badge">Nom: </span> {{commerces.records[i].fields.tco_libelle}}</div> 
      
  
    </li>
  
  </ul>
  </div>